h1 {
	background-image: url("headerpatter.jpg");
	color: white;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 100px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;	
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 300%;
	font-style: italic;
	font-family: Times New Roman;
	
}

body {
	background-color: grey;

}

p {
	margin-left:20px;
}

	
